ngrok
.idea*
*.pem
system_constants.py
campaign_results.csv
temp.csv

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

.env
.env.example
.env.local
.env.staging
env
