<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='assets/img/apple-icon.png')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/img/favicon.ico')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Team Uboja</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/light-bootstrap-dashboard.css')}}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{url_for('static', filename='assets/css/demo.css')}}" rel="stylesheet" />
</head>


<body onload="initializePage()">
    <div class="wrapper">
        <div class="sidebar" data-color="black" data-image="{{url_for('static', filename='images/homeimage.jpg')}}">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="home" class="simple-text">
                      UBOJA
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="account">
                            <i class="nc-icon nc-badge"></i>
                            <p>ACCOUNT</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="newcampaign">
                            <i class="nc-icon nc-bulb-63"></i>
                            <p>NEW CAMPAIGN</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="dashboard">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>CAMPAIGNS</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="outgoing">
                            <i class="nc-icon nc-audio-92"></i>
                            <p>OUTGOING CAMPAIGN</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand">Dashboard</a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="logout">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->




            <!-- Begin Content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="section">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">Filters</h4>
                                        <p class="card-category">Apply the following filters to all Charts below</p>
                                    </div>
                                    <div class="card-body ">
                                        <select class="browser-default custom-select" id="campaignIDDropdownItems">
                                          <option value="ALL" selected>Campaign ID</option>
                                        </select>
                                        <select class="browser-default custom-select" id="timePeriodDropdownItems">>
                                          <option selected>Time Period</option>
                                          <option value="ALL">All</option>
                                          <option value="1 DAY">1 Day</option>
                                          <option value="1 WEEK">1 Week</option>
                                          <option value="1 MONTH">1 Month</option>
                                          <option value="1 YEAR">1 Year</option>
                                        </select>
                                        <select class="browser-default custom-select" id="cityDropdownItems">
                                          <option value="ALL" selected>City</option>
                                        </select>
                                        <select class="browser-default custom-select" id="votersDropdownItems">
                                          <option value="ALL" selected>Voters</option>
                                        </select>
                                        <select class="browser-default custom-select" id="influencersDropdownItems">
                                          <option value="ALL" selected>Influencers</option>
                                        </select>
                                        <button class="btn btn-info btn-fill pull-right" onclick="refreshDashboard();" type="submit">Filter Results</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">Top Influencers</h4>
                                        <p class="card-category">Local community influencers identified within current search parameters and individual counts</p>
                                    </div>
                                    <div class="card-body ">
                                        <div id="barChart" class="ct-Chart"></div>
                                        <div class="legend">
                                            <i class="fa fa-circle text-info"></i> Response Count
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">Campaign Activity over time</h4>
                                        <p class="card-category">Responses received over time</p>
                                    </div>
                                    <div class="card-body ">
                                        <div id="timelineChart" class="ct-Chart"></div>
                                    </div>
                                    <div class="card-footer ">
                                        <div class="legend">
                                            <i class="fa fa-circle text-info"></i> Response Count
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card ">
                                    <div class="card-header ">
                                        <h4 class="card-title">Campaign Results</h4>
                                        <p class="card-category">All responses (influencer votes) received from this campaign</p>
                                        <a class="card-category text-info" href="/getFilteredFile?campaign_identifier=ALL&from_=ALL&from_city=ALL&voted_for=ALL&time_period=Time%20Period">Download All Data</a> <!--TODO: Hack-->
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover" id="dataTable">
                                            
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content -->




            <!-- Begin Footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="home">
                                    Home
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://identifylocalinfluencers.com">Team Uboja</a>. All rights reserved. | Template: <a href="http://www.creative-tim.com">Creative Tim</a>
                        </p>
                    </nav>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </div>
    

<script>

// items in restriction_dict must be elements from_, to, from_city, campaign_identifier, voted_for, age

function populateTable(dataObj) {
    var tabledata = document.getElementById('dataTable');
    var columnHeaders = {"Voter":1, "City":6, "Voted For":9, "Age":10, "Cost":3, "Response":5};
    var headers = Object.keys(columnHeaders);
    $("#dataTable tr").remove(); 

    var tr = tabledata.insertRow(-1);
    var th = document.createElement("th");
    th.innerHTML = "#";
    tr.appendChild(th);

    for (var i = 0; i < headers.length; i++) {
        var th = document.createElement("th");
        th.innerHTML = headers[i];
        tr.appendChild(th);
    }

    // ADD JSON DATA TO THE TABLE AS ROWS.
    for (var i = 0; i < dataObj.length; i++) {

        tr = tabledata.insertRow(-1);
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = i+1;

        for (var j = 0; j < headers.length; j++) {
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = dataObj[i][columnHeaders[headers[j]]];
        }
    }

}


function populateTimeSeriesChart(dataObj) {

    dataSeries = {};
    for (var i = 0; i < dataObj.length; i++) {
        var date = dataObj[i].substr(0,16);
        console.log(date);
        if (date in dataSeries) {
            dataSeries[date] += 1;
        }
        else {
            dataSeries[date] = 1;
        }
    }
    console.log(dataSeries);


    var dataSales = {
      labels: Object.keys(dataSeries),
      series: [Object.values(dataSeries)]
    };

    var optionsSales = {
      lineSmooth: false,
      low: 0,
      high: 100,
      showArea: true,
      height: "350px",
      axisX: {
        showGrid: false,
      },
      lineSmooth: Chartist.Interpolation.simple({
        divisor: 3
      }),
      showLine: false,
      showPoint: false,
    };

    var responsiveSales = [
      ['screen and (max-width: 640px)', {
        axisX: {
          labelInterpolationFnc: function (value) {
            return value[0];
          }
        }
      }]
    ];

    Chartist.Line('#timelineChart', dataSales, optionsSales, responsiveSales);
}


function populateBarChart(newkeys, newvalues) {

    var data = {labels : newkeys, series : [newvalues]}

    var options = {
        seriesBarDistance: 10,
        axisX: {
            showGrid: false
        },
        height: "350px"
    };

    var responsiveOptions = [
      ['screen and (max-width: 640px)', {
        seriesBarDistance: 5,
        axisX: {
          labelInterpolationFnc: function (value) {
            return value[0];
          }
        }
      }]
    ];

    Chartist.Bar('#barChart', data, options, responsiveOptions);
}


function populateFilterOptions(data) {
    
    // Populating "Voters" filter
    campaignIDDropdown = document.getElementById("campaignIDDropdownItems");
    for (var i = 0; i < data.campaign_identifier.length; i++) {
        var option = document.createElement("option");
        option.value = data.campaign_identifier[i];
        option.text = data.campaign_identifier[i];
        campaignIDDropdown.appendChild(option);
    }

    // Populating "Influencers" filter
    cityDropdown = document.getElementById("cityDropdownItems");
    for (var i = 0; i < data.from_city.length; i++) {
        var option = document.createElement("option");
        option.value = data.from_city[i];
        option.text = data.from_city[i];
        cityDropdown.appendChild(option);
    }

    // Populating "Voters" filter
    votersDropdown = document.getElementById("votersDropdownItems");
    for (var i = 0; i < data.from_.length; i++) {
        var option = document.createElement("option");
        option.value = data.from_[i];
        option.text = data.from_[i];
        votersDropdown.appendChild(option);
    }

    // Populating "Voters" filter
    influencersDropdown = document.getElementById("influencersDropdownItems");
    for (var i = 0; i < data.voted_for.length; i++) {
        var option = document.createElement("option");
        option.value = data.voted_for[i];
        option.text = data.voted_for[i];
        influencersDropdown.appendChild(option);
    }

}

function refreshDashboard() {
    console.log("Refreshing Dashboard");
    let filterValues = {};
    var campaignIDDropdownItems = document.getElementById("campaignIDDropdownItems");
    console.log(campaignIDDropdownItems.value);
    filterValues["campaign_identifier"] = campaignIDDropdownItems.options[campaignIDDropdownItems.selectedIndex].value;
    var votersDropdownItems = document.getElementById("votersDropdownItems");
    filterValues["from_"] = votersDropdownItems.options[votersDropdownItems.selectedIndex].value;
    var cityDropdownItems = document.getElementById("cityDropdownItems");
    filterValues["from_city"] = cityDropdownItems.options[cityDropdownItems.selectedIndex].value;
    var influencersDropdownItems = document.getElementById("influencersDropdownItems");
    filterValues["voted_for"] = influencersDropdownItems.options[influencersDropdownItems.selectedIndex].value;
    var timePeriodDropdownItems = document.getElementById("timePeriodDropdownItems");
    filterValues["time_period"] = timePeriodDropdownItems.options[timePeriodDropdownItems.selectedIndex].value;
    console.log(filterValues);

    $.getJSON("/getFilteredResultsBarChart", filterValues, function (data, status) {

        // Inspect the data returned from the API
        console.log(data);
        //ref: https://stackoverflow.com/questions/25500316/sort-a-dictionary-by-value-in-javascript

        // Create items array
        var items = Object.keys(data).sort(function(a, b) {
            console.log(data[b] - data[a])
            return data[b] - data[a];
        });

        var newvalues = [];
        for (var i = 0; i < items.length; i++) {
            console.log(data[items[i]]);
            newvalues.push(data[items[i]]);
        }
        console.log(newvalues);


        console.log("Items");
        console.log(items);

        // Populate filter Options
        populateBarChart(items,newvalues);
      }
    )

    $.getJSON("/getFilteredResultsTable", filterValues, function (data, status) {

        // Inspect the data returned from the API
        console.log(data)

        // Populate filter Options
        populateTable(data);
      }
    )

    $.getJSON("/getFilteredResultsTimeseries", filterValues, function (data, status) {

        // Inspect the data returned from the API
        console.log(data)

        // Populate filter Options
        populateTimeSeriesChart(data);
      }
    )

}

function downloadCSV() {
    console.log("Refreshing Dashboard");
    let filterValues = {};
    var campaignIDDropdownItems = document.getElementById("campaignIDDropdownItems");
    console.log(campaignIDDropdownItems.value);
    filterValues["campaign_identifier"] = campaignIDDropdownItems.options[campaignIDDropdownItems.selectedIndex].value;
    var votersDropdownItems = document.getElementById("votersDropdownItems");
    filterValues["from_"] = votersDropdownItems.options[votersDropdownItems.selectedIndex].value;
    var cityDropdownItems = document.getElementById("cityDropdownItems");
    filterValues["from_city"] = cityDropdownItems.options[cityDropdownItems.selectedIndex].value;
    var influencersDropdownItems = document.getElementById("influencersDropdownItems");
    filterValues["voted_for"] = influencersDropdownItems.options[influencersDropdownItems.selectedIndex].value;
    var timePeriodDropdownItems = document.getElementById("timePeriodDropdownItems");
    filterValues["time_period"] = timePeriodDropdownItems.options[timePeriodDropdownItems.selectedIndex].value;
    console.log(filterValues);

    $.getJSON("/getFilteredFile", filterValues, function (data, status) {
        // Inspect the data returned from the API
        console.log(data)
      }
    )


}


function initializePage() {
  /*demoSection = document.getElementById("demoSection");
  passwordSection = document.getElementById("passwordSection");
  demoSection.style.display = 'none';
  passwordSection.style.display = 'block';
  showAnalysis();
  */
  console.log("Initializing Campaign Dashboard");

  // Make API call to backend & draw graph
    $.getJSON("/getFilters", function (data, status) {

        // Inspect the data returned from the API
        console.log(data)

        // Populate filter Options
        populateFilterOptions(data);
      }
    )
    refreshDashboard();
    
}

</script>


</body>
<!--   Core JS Files   -->
<script src="{{url_for('static', filename='assets/js/core/jquery.3.2.1.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/core/popper.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/core/bootstrap.min.js')}}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{url_for('static', filename='assets/js/plugins/bootstrap-switch.js')}}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="{{url_for('static', filename='assets/js/plugins/chartist.min.js')}}"></script>
<!--  Notifications Plugin    -->
<script src="{{url_for('static', filename='assets/js/plugins/bootstrap-notify.js')}}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{{url_for('static', filename='assets/js/light-bootstrap-dashboard.js')}}" type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="{{url_for('static', filename='assets/js/demo.js')}}"></script>

</html>
