<!DOCTYPE html>
<html>
<title>Team Uboja</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript"> google.charts.load('current', {packages: ['corechart', 'bar']});</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



<body onload="initializePage()">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">TEAM UBOJA</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="home#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="demo" class="w3-bar-item w3-button"><i class="fa fa-th"></i> DEMO</a>
      <a href="dashboard" class="w3-bar-item w3-button"><i class="fa fa-th"></i> DASHBOARD</a>
      <a href="home#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
      <a href="home#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      <a href="login" class="w3-bar-item w3-button" id="login_button">LOGIN</a>
      <a href="logout" class="w3-bar-item w3-button" id="logout_button">LOGOUT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>


<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Team Uboja Live Demo</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Team Uboja Live Demo</span><br>
  </div>
</header>

<!--<div class="w3-row-padding w3-center" style="padding:50px 50px" id="passwordSection">
  <form id="passwordform" action="JavaScript:showDemo();" method="POST" enctype="multipart/form-data">
    <span class="w3-medium">Enter Password</span><br>
    <div class="form-group">
       <input type="text" name="password" id="password"/>
    </div>
  </form>
</div>
-->

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="demoSection">
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    
    <!-- File Upload Section -->
    <span class="w3-xxlarge">Step 1</span><br>
    <span class="w3-medium">Select a file with the recipients of the voting message, and send messages to all recipients.</span><br>
    <div class="w3-row-padding w3-center" style="padding:50px 50px">
      <form action="demo" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="file" />
        </div>
        <div class="form-group" style="padding:50px">
          <input class="w3-center w3-large w3-button w3-black" type="submit" value="Send All Messages" id="sendAllMessages" name="sendAllMessages" />
        </div>
      </form>
      <label id="value_lable">
        <br>{{ success_label }}<br>
      </label>
    </div>


    <span class="w3-xxlarge">Step 2</span><br>
    <span class="w3-medium">Analyze the responses to identify community influencers.</span><br>
    <div class="w3-row-padding w3-center" style="padding:50px 50px">
      <!-- <a class="w3-center w3-large w3-button w3-black" onclick="location.href='/results'; showAnalysis();" type="submit">Analyze Data</a> -->
      <a class="w3-center w3-large w3-button w3-black" onclick="showAnalysis();" type="submit">Refresh Analysis</a>
    </div>


    <div class="w3-panel w3-card-4 w3-light-grey" id="analysis">
      <p class=" w3-large w3-serif">Top 5 influencers</p>
      <div class="w3-row-padding w3-center" style="margin-bottom:50px">
        <!--<img class="w3-image w3-round-large" src="{{url_for('static', filename='images/output/analysis_result_2.png')}}" alt="analysis" width="700" height="100%">
        <table>
          <tr>
            <th>Month</th>
            <th>Savings</th>
          </tr>
          <tr>
            <td>January</td>
            <td>$100</td>
          </tr>
        </table>-->
        <div id="chart" style="text-align:center"> </div>
        <div id="location" style="text-align:center"> </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <div class="copyright">
    &copy; Team Uboja 2020. All rights reserved.
  </div>
</footer>

<script>
// Defining functions
// ---------


// DrawGraph
google.charts.load('current', {packages: ['corechart', 'bar', 'table']});

function DrawGraph(data) {
  var tabledata = new google.visualization.DataTable();
  tabledata.addColumn('string', 'Name');
  tabledata.addColumn('number', 'Count');
  tabledata.addColumn('string', 'City');

  // Generate and format the data
  tabledata.addRows([
    [data.Name1, data.Count1, data.City1],
    [data.Name2, data.Count2, data.City2],
    [data.Name3, data.Count3, data.City3],
    [data.Name4, data.Count4, data.City4],
    [data.Name5, data.Count5, data.City5]
  ]);
  

  // Customize the graph
  var options = {
    colors: ['#ffab91', '#ffab91'],
    chartArea: {width: '50%'},
    hAxis: {
      title: '% working title'
    },
    showRowNumber: true,
    width: '100%',
    height: '100%'
  };

  // Generate the graph
  var table = new google.visualization.Table(document.getElementById('chart'));

  // Display the graph
  table.draw(tabledata, options);

}


function showAnalysis() {
  console.log("Building analysis");

  // Make API call to backend & draw graph
    $.getJSON("/results", function (data, status) {

        // Inspect the data returned from the API
        console.log(data)

        // Draw graph
        DrawGraph(data);
      }
    )
}

function initializePage() {
  login_button = document.getElementById("login_button");
  logout_button = document.getElementById("logout_button");
  $.getJSON("/checkloginstatus", {}, function (data, status) {

    // Inspect the data returned from the API
    console.log(data)
    login_status = data.login_status;
    if (login_status === 1) {
        login_button.style.display = 'none';
        logout_button.style.display = 'block';
      } else {
        login_button.style.display = 'block';
        logout_button.style.display = 'none';
      }

    }
  )
}






</script>

</body>
</html>
