<!DOCTYPE html>
<html>
<title>Team Ubuntu</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for ('static', filename = 'styles.css') }}">

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">TEAM UBUNTU</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="demo" class="w3-bar-item w3-button"><i class="fa fa-th"></i> DEMO</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> TEAM</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#demo" onclick="w3_close()" class="w3-bar-item w3-button">DEMO</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">The Team Ubuntu Solution</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">The Team Ubuntu Solution</span><br>
    <span class="w3-white w3-padding-large w3-large w3-margin-top w3-opacity">A local influencer identification mechanism using SMS-based community voting</span>
    <p><a href="#demo" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Try our Demo here!</a></p>
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <span class="w3-xxlarge">Our Hypothesis</span><br>
    <span class="w3-medium">The most effective way to spread information is through trusted community members.</span><br>
    <div class="w3-panel w3-card-4 w3-light-grey">
      <p class=" w3-large w3-serif">
      <i class="fa fa-quote-right w3-xxlarge w3-text-black"></i><br>
      <i>In the West Africa Ebola outbreak, cases began to decline when religious leaders and village chiefs started to educate people about social distancing and bringing the sick to Ebola treatment units.</i></p>
      <div class="w3-row-padding w3-center" style="margin-bottom:50px">
        <img src="{{url_for('static', filename='images/wapo.png')}}" alt="WAPO" style="width:50%">
      </div>
    </div>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
      <div class="w3-half w3-column-padding" style="padding:0px 50px">
        <h3>How can we effectively and accurately identify trusted community members (influencers) within dense, urban settings?</h3>
        <p>Our SMS-based influencer identification mechanism utilizes the low-tech but ubiquitous access to basic cell service and involves all the relevant stakeholders - Public Health Officials, Community Influencers and the Local Community.</p>
      </div>
      <div class="w3-half w3-card-4 w3-light-grey">
        <img class="w3-image w3-round-large" src="{{url_for('static', filename='images/1pager.png')}}" alt="images/1pager.png" width="700" height="500">
      </div>
    </div>
  </div>
</div>



<!-- Team Section -->
<div class="w3-containerw3-row w3-center w3-dark-grey w3-padding-64" style="padding:128px 16px" id="team">
  <h3 class="w3-center w3-xxlarge">OUR TEAM</h3>
  <h3 class="w3-center w3-medium">MIT Africa Covid Hackathon Winning Solution</h3>
  <img src="images/mitcovid.jpeg" alt="MIT Covid" style="width:100%">
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{{url_for('static', filename='images/team/steffen.png')}}" alt="Steffen" style="width:100%">
        <div class="w3-container">
          <h3>Steffen Schmidt</h3>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{{url_for('static', filename='images/team/aparna.png')}}" alt="Aparna" style="width:100%">
        <div class="w3-container">
          <h3>Aparna Pande</h3>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{{url_for('static', filename='images/team/tosin.jpeg')}}" alt="Tosin" style="width:100%">
        <div class="w3-container">
          <h3>Oluwatosin Ogunsola</h3>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{{url_for('static', filename='images/team/yousif.jpeg')}}" alt="Yousif" style="width:100%">
        <div class="w3-container">
          <h3>Yousif Bunkheila</h3>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{{url_for('static', filename='images/team/utkarsh.jpeg')}}" alt="Utkarsh" style="width:100%">
        <div class="w3-container">
          <h3>Utkarsh Uppal</h3>
        </div>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="{{url_for('static', filename='images/team/ritam.jpeg')}}" alt="Ritam" style="width:100%">
        <div class="w3-container">
          <h3>Ritam Priya</h3>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Contact Section -->
<div class="w3-center w3-container w3-light-grey" style="padding:200px 16px" id="contact">
  <h3 class="w3-center">CONTACT US</h3>
  <a class="w3-center w3-large w3-button w3-black" type="submit" href="mailto:team.ubuntu.mit@gmail.com">Lets get in touch. Send us a message!</a>  
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <div class="copyright">
    &copy; Team Ubuntu 2020. All rights reserved.
  </div>
</footer>
 
<script>


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}


</script>

</body>
</html>
