<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='assets/img/apple-icon.png')}}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/img/favicon.ico')}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Team Uboja</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='assets/css/light-bootstrap-dashboard.css')}}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{url_for('static', filename='assets/css/demo.css')}}" rel="stylesheet" />
</head>


<body onload="initializePage()">
    <div class="wrapper">
        <div class="sidebar" data-color="black" data-image="{{url_for('static', filename='images/homeimage.jpg')}}">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="home" class="simple-text">
                      UBOJA
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="account">
                            <i class="nc-icon nc-badge"></i>
                            <p>ACCOUNT</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="newcampaign">
                            <i class="nc-icon nc-bulb-63"></i>
                            <p>NEW CAMPAIGN</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="dashboard">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>CAMPAIGNS</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="outgoing">
                            <i class="nc-icon nc-audio-92"></i>
                            <p>OUTGOING CAMPAIGN</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand">Dashboard</a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="logout">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->




            <!-- Begin Content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="section">
                        <div class="row">
                            <!-- Row 1 content in cards -->
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Edit Outgoing Campaign Info</h4>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-5 pr-1">
                                                    <div class="form-group">
                                                        <select class="browser-default custom-select" onchange="getInfluencers()" id="campaignIDDropdownItems">
                                                            <option id="campaign_id" value="ALL" selected >Campaign ID</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>New Outgoing Message to send to influencers</label>
                                                        <input type="text" class="form-control" placeholder="Message" id="message">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="card ">
                                                    <div class="card-header ">
                                                        <h4 class="card-title">Influencers</h4>
                                                        <p class="card-category">Outreach data</p>
                                                    </div>
                                                    <div class="card-body table-full-width table-responsive">
                                                        <table class="table table-hover" id="recipient_table">
                    
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div>
                                    <button type="button" onclick="launchCampaign();location.href='success'" class="btn btn-info btn-fill pull-right">Launch Outgoing Campaign</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content -->



            <!-- Begin Footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="home">
                                    Home
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            <a href="http://identifylocalinfluencers.com">Team Uboja</a>. All rights reserved. | Template: <a href="http://www.creative-tim.com">Creative Tim</a>
                        </p>
                    </nav>
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </div>
    

<script>

function populateInfluencerTable(dataObj) {
    var tabledata = document.getElementById('recipient_table');
    $("#recipient_table tr").remove(); 

    var tr = tabledata.insertRow(-1);
    var th = document.createElement("th");
    th.innerHTML = "#";
    tr.appendChild(th);
    var th = document.createElement("th");
    th.innerHTML = "Influencer";
    tr.appendChild(th);
    var th = document.createElement("th");
    th.innerHTML = "Vote Count";
    tr.appendChild(th);


    // ADD JSON DATA TO THE TABLE AS ROWS.
    var influencers = Object.keys(dataObj);
    var counts = Object.values(dataObj);
    for (var i = 0; i < influencers.length; i++) {

        tr = tabledata.insertRow(-1);
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = i+1;

        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = influencers[i];
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = counts[i];
    }
}

function getInfluencers() {
    var campaignIDDropdownItems = document.getElementById("campaignIDDropdownItems");
    console.log(campaignIDDropdownItems.value);
    var campaignID = campaignIDDropdownItems.options[campaignIDDropdownItems.selectedIndex].value;

    $.getJSON("/getFilteredResultsBarChart", {campaign_identifier: campaignID, from_: "ALL", from_city: "ALL", voted_for: "ALL"}, function (data, status) {

        // Inspect the data returned from the API
        console.log(data)

        // Populate filter Options
        populateInfluencerTable(data);
    }
    )
}


function initializePage() {
  /*demoSection = document.getElementById("demoSection");
  passwordSection = document.getElementById("passwordSection");
  demoSection.style.display = 'none';
  passwordSection.style.display = 'block';
  showAnalysis();
  */
  console.log("Initializing Campaign Dashboard");

  // Make API call to backend & draw graph
    $.getJSON("/getFilters", function (data, status) {

        // Inspect the data returned from the API
        console.log(data)

        // Populate filter Options
        campaignIDDropdown = document.getElementById("campaignIDDropdownItems");
        for (var i = 0; i < data.campaign_identifier.length; i++) {
            var option = document.createElement("option");
            option.value = data.campaign_identifier[i];
            option.text = data.campaign_identifier[i];
            campaignIDDropdown.appendChild(option);
        }      
    }
    )
    
}

function launchCampaign() {
  campaign_identifier_field = document.getElementById("campaign_id");
  message_field = document.getElementById("message");

  var myTableArray = [];
  //ref: https://stackoverflow.com/questions/9579721/convert-html-table-to-array-in-javascript
  $("table#recipient_table").each(function() {
    var arrayOfThisRow = [];
    var tableData = $(this).find('td');
    if (tableData.length > 0) {
        tableData.each(function() { arrayOfThisRow.push($(this).text()); });
        myTableArray.push(arrayOfThisRow);
    }
});


  $.getJSON("/LaunchInfoCampaign", {campaign_identifier: campaign_identifier_field.value, message: message_field.value, message_array: myTableArray}, function (data, status) {

    }
  )
}

</script>



</body>
<!--   Core JS Files   -->
<script src="{{url_for('static', filename='assets/js/core/jquery.3.2.1.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/core/popper.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/core/bootstrap.min.js')}}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{{url_for('static', filename='assets/js/plugins/bootstrap-switch.js')}}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="{{url_for('static', filename='assets/js/plugins/chartist.min.js')}}"></script>
<!--  Notifications Plugin    -->
<script src="{{url_for('static', filename='assets/js/plugins/bootstrap-notify.js')}}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{{url_for('static', filename='assets/js/light-bootstrap-dashboard.js')}}" type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="{{url_for('static', filename='assets/js/demo.js')}}"></script>

</html>
